.login-form {
  display: flex;
  flex-direction: column;
  background: #fbfbff;
  padding: 32px;
  box-shadow: 9px 18px 35px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: fit-content;
  margin-left: 20%;
  z-index: 1;
}
.login-form > h1 {
  margin-bottom: 32px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.inputs > * {
  margin-bottom: 24px;
}

.controls {
  display: flex;
  flex-direction: column;
}
.controls > .btn.btn-empty {
  margin-top: 32px;
}

.men {
  position: fixed;
  left: 60%;
  width: 390px;
}
