.rooms {
  display: flex;
  padding: 48px;
  width: 100%;
  align-self: flex-start;
}

.fill_space {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfbff;
  font-size: 32px;
  font-weight: 600;
}
