.room {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 32px;
}
.room__boards {
  display: flex;
  flex-wrap: wrap;
}
.room__board {
  min-width: 300px;
  width: 30%;
  height: 100px;
  background: #fbfbff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 9px 18px 35px rgba(0, 0, 0, 0.25);
  margin: 0 15px 15px 0;
}
.room__board__title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  cursor: pointer;
}
.room__board__title:hover {
  background: #3d75cf0e;
}
.room__board__control {
  padding: 0 24px;
  height: 100%;
  display: flex;
  align-items: center;
}
.room__board__control:hover {
  background: #3d75cf0e;
  cursor: pointer;
}
.room__board__control > svg {
  opacity: 0.2;
}
.room__board__control:hover > svg {
  opacity: 1;
}
.room__header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.room__header__title {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.room__header__buttons > * {
  margin: 0 0 15px 15px;
}
